/**
 * Created by duy on 2016/4/6.
 */

@charset "utf-8";

$page-bg-color:#f7f7f7;
$pagel-bg-color:#eaeaea;
$white-bg-color:#fff;
$product-name-color: #484848;
$product-time-color: #999999;
$form-border-color: #dedede;
$button-bg-color: #e8ba7b;
$longteng-font-color: #e8ba7b;
$address-font-color:#e5b36f;
$dianshu-bg-color: #fdf3e5;
$alert-bg-color: #f44336;
$address-user-color: #333333;
$address-bg-color:#fcf7f0;
$addAds-font-color:#dddddd;
